<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.BusinessMapper">
	<!-- 查询用户信息 -->
	<select id="findSysUserPage" resultType="com.lanyuan.entity.SysUserFormMap">
		select * from tb_user where 1 = 1
		<if test="NICKNAME != null and NICKNAME != ''">
			and NICKNAME like '%${NICKNAME}%'
		</if>
		<if test="beginDate != null and beginDate != ''">
			and DATE_FORMAT(registerDate,'%Y-%m-%d') &gt;='${beginDate}'
		</if>
		<if test="endDate != null and endDate != ''">
			and DATE_FORMAT(registerDate,'%Y-%m-%d') &lt;='${endDate}'
		</if>
		
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
	
	<!-- 查询设备信息 -->
	<select id="findDevicePage" resultType="com.lanyuan.entity.DeviceFormMap">
		select * from tb_device where 1 = 1
		<if test="deviceName != null and deviceName != ''">
			and deviceName like '%${deviceName}%'
		</if>
		<if test="beginDate != null and beginDate != ''">
			and DATE_FORMAT(addDate,'%Y-%m-%d') &gt;='${beginDate}'
		</if>
		<if test="endDate != null and endDate != ''">
			and DATE_FORMAT(addDate,'%Y-%m-%d') &lt;='${endDate}'
		</if>
		
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
	
	
	
	<!-- 查询设备绑定用户 -->
	<select id="findDeviceUsers" resultType="com.lanyuan.entity.SysUserFormMap">
		select * from tb_user where 1 = 1
		and userid in (select cuserid from tb_user_device_map where deviceno='${deviceNo}')
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
</mapper>