<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.yunjing.dao.ChannelInterDao'>
    
    <insert id="saveDevice" parameterType="Device" >
	    insert into tb_device (deviceno,version,deviceusername,devicepwd,adddate,updateDate,online, memberPwd)
	    values (#{deviceNo,jdbcType=VARCHAR},#{deviceVersion,jdbcType=VARCHAR},#{deviceUserName,jdbcType=VARCHAR},#{devicePwd,jdbcType=VARCHAR},now(),now(),'1',#{memberPwd,jdbcType=VARCHAR})
	</insert>
	
     <insert id="updateDevice" parameterType="Device" >
	    update tb_device set version=#{deviceVersion},deviceusername=#{deviceUserName},devicepwd=#{devicePwd},updateDate=now(),online='1',memberPwd=#{memberPwd}  where deviceno=#{deviceNo}
	</insert>     
	
    <insert id="saveZone" parameterType="Zone" >
	    insert into tb_zone (ZONENO,ZONENAME,ZONETYPE,ZONEONLINE,ZONESTATE,ZONEVMP,ZONESTRAIN,ZONESTRAINVPT,ADDDATE, DEVICENO,zoneStyle,zoneParam)
	    values (#{zoneNo},#{zoneName},#{zoneType},#{zoneOnline},#{zoneState},#{zoneVmp}, #{zoneStrain},#{zoneStrainVpt}, now(), #{deviceNo},#{zoneStyle},#{zoneParam})
	</insert>
	
    <!-- 更新这些字段 -->
	<insert id='updateZone' parameterType='Zone'>
	    update tb_zone set ZONETYPE=#{zoneType},ZONEONLINE=#{zoneOnline},ZONESTATE=#{zoneState},ZONEVMP=#{zoneVmp},zoneStrain=#{zoneStrain},zoneStrainVpt=#{zoneStrainVpt},deviceNo=#{deviceNo},zoneStyle=#{zoneStyle},zoneParam=#{zoneParam} where zoneNo=#{zoneNo}
	</insert>
	
	<!-- 修改防区布撤防状态 -->
	<insert id='updateZoneState' parameterType='Zone'>
	    update tb_zone set ZONEONLINE=#{zoneOnline},ZONESTATE=#{zoneState},ZONEVMP=#{zoneVmp},zoneStrain=#{zoneStrain},zoneStrainVpt=#{zoneStrainVpt},zoneStyle=#{zoneStyle},zoneParam=#{zoneParam} where zoneNo=#{zoneNo}
	</insert>
	
	<delete id="deleteZone" parameterType='java.lang.String'>
	    delete from tb_zone where zoneno=#{0,jdbcType=VARCHAR}
	</delete>
	
	 
    <!-- 查询设备是否已经存在 -->
	<select id="getCountByDeviceNo"  resultType="java.lang.Integer">
		select count(1) from tb_device where deviceno = #{0,jdbcType=VARCHAR}
    </select>
    
	 <!-- 查询防区是否已经存在 -->
	<select id="getCountByZoneNo"  resultType="java.lang.Integer">
		select count(1) from tb_zone where zoneno = #{0,jdbcType=VARCHAR}
    </select>
    
	
	<!-- 查询报警信息是否已经存在 -->
	<select id="getCountByWaringId"  resultType="java.lang.Integer">
		select count(1) from tb_warning_info where warningid = #{0,jdbcType=VARCHAR}
    </select>
    
	 <insert id="saveWarningInfo" parameterType="WarningInfo" >
	    insert into tb_warning_info (WARNINGID,ZONENO,WARNDATE,ISTATE,WARNTYPE)
	    values (#{warningId,jdbcType=VARCHAR},#{zoneNo,jdbcType=VARCHAR},#{warnDate,jdbcType=VARCHAR},0,#{warnType,jdbcType=VARCHAR})
	 </insert>
	 
	 <!-- 查询防区名称 -->
	<select id="getZoneNameByZoneNo"  resultType="java.lang.String">
		select zonename from tb_zone where zoneno = #{0,jdbcType=VARCHAR}
    </select>
    
	<!-- 查询防区关联的用户 -->
	<select id="getZoneUsers"  resultType="java.lang.String">
		select cuserid from tb_user_device_map where istate=1 and CHECKPWDFLAG=0 and deviceno=(select deviceno from tb_zone where zoneno=#{0,jdbcType=VARCHAR})
    </select>
    
	<insert id="savePushMsg" parameterType="Push" >
	    insert into tb_push(msgid,msgtext,topic,adddate,istate,pushservice,zoneno,itype) 
	    values(#{msgId,jdbcType=VARCHAR}, #{msgText,jdbcType=VARCHAR},#{topic,jdbcType=VARCHAR},#{addDate,jdbcType=VARCHAR},#{istate,jdbcType=VARCHAR},#{pushService,jdbcType=VARCHAR},#{zoneNo,jdbcType=VARCHAR},#{itype,jdbcType=VARCHAR})
	</insert>
	
	
	<insert id="cleanWarningInfo" parameterType='java.lang.String' >
		update tb_warning_info set zoneno=null where zoneno=#{0,jdbcType=VARCHAR}
	</insert>
	
	<insert id="cleanLog" parameterType='java.lang.String' >
		update tb_log set zoneno=null where zoneno=#{0,jdbcType=VARCHAR}
	</insert>
	
	<select id="getInitNotExsitZones" resultType="java.lang.String">
         select zoneno
         from tb_zone where deviceno=#{deviceNo} and zoneno not in
          <foreach collection="zones" item="zoneNo"
                    index="index" open="(" close=")" separator=",">
                    #{zoneNo}
          </foreach>
 	 </select> 
  
  
  
   <insert id='saveOrUploadDevicePing' parameterType='DevicePing'>
        <selectKey keyProperty="ccount" resultType="int" order="BEFORE">
            select count(*) from tb_device_ping where deviceno=#{deviceNo}
        </selectKey>
        <if test=" ccount > 0">
            update tb_device_ping set ipaddress=#{ipAddress},pingdate=now() where deviceno=#{deviceNo}
        </if>
        <if test="ccount == 0">
            INSERT INTO tb_device_ping(deviceno,ipaddress,pingdate) values(#{deviceNo,jdbcType=VARCHAR},#{ipAddress,jdbcType=VARCHAR},now())
        </if>
    </insert>
    
    
     <!-- 查询防区名称 -->
	<select id="getDeviceByNo" parameterType="java.lang.String" resultType="Device">
		select deviceno,online,devicePwd,memberPwd from tb_device where deviceno = #{0,jdbcType=VARCHAR}
    </select>
    
    <!-- 查询防区关联的用户 -->
	<select id="getDeviceZones" parameterType="java.lang.String"  resultType="java.lang.String">
		SELECT zoneno FROM tb_zone WHERE deviceno=#{0,jdbcType=VARCHAR}
    </select>
    
    
    <!-- 修改管理员的校验密码状态 -->
	<insert id='updateAdminCheckPwdFlag' parameterType='java.lang.String'>
	    update tb_user_device_map set checkPwdFlag=1 where itype=0 and deviceno=#{0,jdbcType=VARCHAR} and ISTATE =1 
	</insert>
	
	<!-- 修改管理员的校验密码状态 -->
	<insert id='updateMemberCheckPwdFlag' parameterType='java.util.Map'>
	    update tb_user_device_map set checkPwdFlag=1 where itype=1 and deviceno=#{deviceNo,jdbcType=VARCHAR} and ISTATE =1 and bindpwd not in 
	    <foreach item="item" index="index" collection="memberPwds" open="(" separator="," close=")">  
  			#{item}  
 		</foreach>  
	</insert>
</mapper>