<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.yunjing.dao.DevicePingDao'>
    
    <!-- 查询掉线的设备 -->
	<select id="getOutTimePing"  resultType="java.lang.String">
		select p.deviceno from tb_device_ping p,tb_device d where d.deviceno=p.deviceno and d.online=1 and 
		<!-- p.pingDate&lt;DATE_ADD(NOW(),INTERVAL -1 HOUR) -->
		p.pingDate&lt;DATE_ADD(NOW(),INTERVAL -7 MINUTE)
		order by p.pingdate asc 
    </select>
	
	<update id="initPingDate"  >
       update tb_device_ping set pingdate=now()
	</update>
	
	<update id="deviceOffLine" parameterType='java.lang.String'  >
       update tb_device set online=0 where deviceno=#{deviceNo}
	</update>
	
	<update id="zoneOffLine" parameterType='java.lang.String'  >
       update tb_zone set ZONEONLINE=0 where DEVICENO=#{deviceNo}
	</update>
	
</mapper>