<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.yunjing.dao.PushDao'>
    
    <!-- 查询MQTT待推送的消息 -->
	<select id="getToPushMsgs"  resultType="Push">
		select * from tb_push  where pushservice=0 and istate=0
    </select>
	
	<!-- 更新 -->
	<update id="updatePushResult" parameterType='java.util.Map' >
	       update tb_push set istate = #{istate},pushdate=#{pushDate} where  msgid=#{msgId} and istate=0
	</update>
	
	<!-- 小米推送 -->
	<select id="getXmToPushMsgs"  resultType="Push">
		SELECT t.*,c.itype as pushConfigType FROM (
		SELECT t.*,z.zoneName,d.deviceName,u.xmappid AS xmAppId,u.apptype AS appType,u.USERID FROM tb_push  t,tb_user u,
		tb_zone z,tb_device d 
		 WHERE t.topic=u.userid AND z.zoneno=t.zoneno AND d.deviceNo=z.deviceNo AND t.pushservice=2 AND t.istate=0 ) t
		LEFT JOIN tb_push_config c ON c.userId = t.userid
    </select>
</mapper>